@charset "UTF-8";

body{
    background: linear-gradient(246.97deg, rgba(50, 120, 255, 0.6) 15.77%, rgba(255, 238, 83, 0.6) 82.66%);
    background-repeat: no-repeat;
    height: 200vh;
}

.header-link{
    color: black;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    margin-left: 5%;
}

.header-link:hover{
    font-size: 22px;
}

.links{
    padding-top: 10px;
}

.logo-img{
    margin-left: 60px;
    margin-right: 70px;
}

.about-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

p{
margin: 0;
padding: 0;
}

.login-container{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 10px 3px rgba(102, 99, 99, 0.05);
    border-radius: 40px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 60px;
}

.login-items{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.page-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-transform: capitalize;
    margin-top: 60px;
}

.form-style{
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: auto;
	margin-left: auto;
}

.login-input-style{
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 40px;
    width: 400px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    border-color: #FFFFFF;
    text-align: center;
    display: flex;
}

.login-input-style:not(:last-child){
    margin-bottom: 30px;
}

.button-style{
    border: 1px solid #000000;
    border-radius: 40px;
    width: 160px;
    height: 50px;
    background-color: rgba(28,28,28,0);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}

.button-style:hover{
    background-color: #000000;
    color: #FFFFFF;
}

.button-style:active{
    background-color: #FFFFFF;
    color: #000000;
}

.small-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    margin: 30px 20px 0 0;
}

.link-style{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #00229B;
    display: inline-block;
}

.link-style:hover{
    font-size: 22px;
}

.link-style:active{
    font-size: 20px;
}

@media (max-width: 890px){
    .login-container{
        width: 560px;
    }
}

@media (max-width: 690px){
    .login-container{
        width: 490px;
    }
}

@media (max-width: 550px){
    .login-container{
        width: auto;
    }
}

@media (max-width: 500px){
    .login-input-style{
        width: 300px;
    }
}

@media (max-width: 400px){
    .login-input-style{
        width: auto;
    }
}


/*                               PROFILE STYLES    */
.header-container{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 10px 3px rgba(102, 99, 99, 0.05);
    border-radius: 40px;
    width: 70%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.divider{
    margin-bottom: 16px;
    margin-top: 7px;
}

.audio-tag{
    display: none;
}

.history-track-container{
    display: flex;
    flex-flow: row wrap;
    width: 460px;
}

.history-track-container:hover{
    background-color: #C6D4E9;
    border-radius: 10px;
}

.song-main-info{
    display: flex;
    flex-flow: column wrap;
    margin-left: 20px;
    justify-content: center;
}






